@import "tailwindcss";

@theme {
  --font-pop: "Poppins", sans-serif; 
}

.container{
    @apply max-w-[1166px] mx-auto items-center
}


/* About Part Start */
#aboutPart{
   @apply py-[100px]
}
.aboutHeading{
  @apply font-pop font-semibold text-[36px] text-[#203239] leading-[150%] w-[533px] mb-[64px]
}
/* About Part End */

/* Feature Part Start */
#featurePart{
  @apply py-[136px] bg-[#EEEDDE]
}
/* Feature Part End */

/* Catalog part Start */
#catalogPart{
  @apply py-[68px] 
}
.catalogOne{
  @apply flex justify-between
}

#contactPart{
  @apply py-[48px] bg-[#EEEDDE]
}
/* Catalog part End */